body {
    background-image: url('https://i.pinimg.com/564x/72/36/28/723628bb1e39856512af7e7ec1721568.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
}
h1 {
    text-align: center;
}
#task-input {
    width: 80%;
    padding: 5px;
    font-size: 15px;
}
#add-task-btn {
    padding: 5px;
    font-size: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
li.completed {
    text-decoration: line-through;
}
button {
    margin-left: 10px;
    padding: 5px;
}